<div class="container">
<div class = "row">
    <div class="col-md-6 body-content">
                <div class="jumbotron">
                    <h1>Customer Manager</h1>      
                    <p>
                        A B2B application to simplify the marketing and sales process which also helps to provide better services.
                    </p>
                    <br>
                    <button [routerLink]="['/customers']">
                        Get Started
                    </button>
                </div>
    </div>

    <div class="col-md-6 body-content">
        <div class="phone-wrapper">
            <a href="#" class="arrow-left"><img src="http://dev.themaninblue.com/canva/learntocode/images/arrow-left.svg"></a>
                <div class="phone">
                    <img class="phone-case" src="http://dev.themaninblue.com/canva/learntocode/images/iphone.png" alt="iPhone mockup">
                    <ul class="carousel">
                            <li><img src="https://raw.githubusercontent.com/achiv/example/master/images/screen1_customers.png" alt="Canva iPhone app"></li>
                            <li><img src="https://raw.githubusercontent.com/achiv/example/master/images/screen2_orders.png" alt="Canva iPhone app"></li>
                            <li><img src="https://raw.githubusercontent.com/achiv/example/master/images/screen3_stats.png" alt="Canva iPhone app"></li>
                            <!-- <li><img src="http://dev.themaninblue.com/canva/learntocode/images/screen3.jpg" alt="Canva iPhone app"></li>                         -->
                    
                    <!-- <li><img src="http://dev.themaninblue.com/canva/learntocode/images/screen4.jpg" alt="Canva iPhone app"></li>
                    <li><img src="http://dev.themaninblue.com/canva/learntocode/images/screen1.jpg" alt="Canva iPhone app"></li>
                    <li><img src="http://dev.themaninblue.com/canva/learntocode/images/screen2.jpg" alt="Canva iPhone app"></li>
                    <li><img src="http://dev.themaninblue.com/canva/learntocode/images/screen3.jpg" alt="Canva iPhone app"></li> -->
                   
                    </ul>
                </div>
            <a href="#" class="arrow-right"><img src="http://dev.themaninblue.com/canva/learntocode/images/arrow-right.svg"></a>
        </div>    
    </div>

</div>

    <!-- Features -->
    <div>


    </div>


</div>
