<div class="customers view indent">
    <div class="container">
            <h3><span class="glyphicon glyphicon-user"></span> Customers</h3>
        <div class="row">
            <div class="col-md-10">
                <div class="navbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a><span class="glyphicon glyphicon-th-large"></span> Card View</a>
                        </li>
                        <li>
                            <a><span class="glyphicon glyphicon-align-justify"></span> List View</a>
                        </li>
                        <li>
                            <a><span class="glyphicon glyphicon-plus"></span> Add Customer</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <label class="navbarText col-sm-2">Filter:</label>
                            <div class="col-sm-10">
                                <input type="text" class="novalidate form-control"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row cardContainer" >
                <div class="col-sm-6 col-md-4 col-lg-3" style="width: 23%;" *ngFor="let cust of customers">
                    <div class="card" style="border: 5px black;">
                        <div class="cardHeader" style="background-color:royalblue; color: white"><a style="color: white" [routerLink]="['/customers/',cust.customerId]">{{cust.customerFirstName +" "+ cust.customerLastName}}</a> <span class="glyphicon glyphicon-edit"></span></div>
                        <div class="cardBody">
                            <div class="clearfix">
                                <div class="pull-left cardBodyLeft">
                                    <a class="white"><img class="cardImage" /></a>
                                </div>
                                <div class="pull-left cardBodyRight">
                                    <div class="cardBodyContent">{{cust.customerCountry}}, {{cust.customerCity}}</div>
                                    <div> <a class="btn-link"> View Orders </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="pagination pagination-centered">
        <ul class="pagination ">
             <li data-page="-" ><a href="#" >&lt;</a></li>
             <li data-page="1"><a href="#" >1</a></li>
             <li data-page="2"><a href="#" >2</a></li>
             <li data-page="3"><a href="#" >3</a></li>
             <li data-page="4"><a href="#" >4</a></li>
             <li data-page="5"><a href="#" >5</a></li>
             <li data-page="+"><a href="#" >&gt;</a></li>
       </ul>
    </div>
    </div>
</div>