<!-- <body onload="initialize();"> -->
<div class="customers view indent">
    <div class="container">
            <h3><span class="glyphicon glyphicon-user"></span> Customers Information</h3>
        <div class="row">
            <div class="col-md-10">
                <div class="navbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a><span class="glyphicon glyphicon-th-large"></span> Customer Details</a>
                        </li>
                        <li>
                            <a><span class="glyphicon glyphicon-align-justify"></span> Customer Orders</a>
                        </li>
                        <li>
                            <a><span class="glyphicon glyphicon-plus"></span> Edit Customer</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<!-- <div id="map" style="width: 320px; height: 480px;"></div>
<div>
    <input id="address" type="textbox" value="Sydney, NSW">
    <input type="button" value="Encode" onclick="codeAddress();">
</div> -->

<agm-map [latitude]="latitude" [longitude]="longitude">
     <agm-marker [latitude]="latitude" [longitude]="longitude">
     </agm-marker>
</agm-map>
<!-- <agm-map>
    <agm-marker></agm-marker>
</agm-map> -->

</div>

<!-- <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKmma20Z9FmYakWYQ8G_WMvvNY8YXilNE&callback=initMap">
google.maps.event.addDomListener(window, 'load', initialize);
</script> -->

<!-- </body> -->

<div id="floating-panel">
        <input id="address" type="textbox" value="Sydney, NSW">
        <input id="submit" type="button" (click)="geocodeAddress()" value="Geocode">
      </div>
      <div id="map"></div>

      <script>
        function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: {lat: -34.397, lng: 150.644}
          });
          var geocoder = new google.maps.Geocoder();
  
          document.getElementById('submit').addEventListener('click', function() {
            geocodeAddress(geocoder, map);
          });
        }
  
        function geocodeAddress(geocoder, resultsMap) {
          var address = document.getElementById('address').value;
          geocoder.geocode({'address': address}, function(results, status) {
            if (status === 'OK') {
              resultsMap.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                map: resultsMap,
                position: results[0].geometry.location
              });
            } else {
              alert('Geocode was not successful for the following reason: ' + status);
            }
          });
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKmma20Z9FmYakWYQ8G_WMvvNY8YXilNE&callback=initMap">
      </script>